body {
    padding-top: 60px;
    padding-bottom: 40px;
    /*background: url(/static/img/arches.png) repeat 0 0;*/
}

/* ### NAVBAR ### */

.navbar-form input,
.form-inline input,
.form input,
.input-append input {
    font-size: 16px;
    height: auto;
}

.navbar-form button {
    margin-left: 5px;
}

.navbar-text a{
    margin-right: 20px;
}

.navbar-text a:hover {
    color: #fff;
}

.navbar .brand.active {
    color: #fff;
}

/* ### INDEX HEADER ### */

.hero-unit {
    padding-bottom: 15px;
}

.hero-unit .btn {
    margin-top: 10px;
    margin-right: 10px;
}

/* ### REGISTER & LOGIN FORMS */

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input {
    margin-bottom: 15px;
    padding: 7px 9px;
}

.form .help-block,
.form .help-inline {
    font-size: 10px;
    margin-top: -10px;
}

/* ### INDEX LISTS ### */

.listitem {
    min-height: 48px;
    padding: 2px;
    padding-bottom: 4px;
    margin-bottom:4px;
    background-color: #FEFCFA;
    /*background-color:#e1e8d9; tosi vaalea vihertävä*/
    /*background-color: #C4D4D1;*/
    border-radius: 4px 4px 4px 4px;   
}

.listitem.odd {
    background-color: #b5c9c6;
}

.listitem .lower {
    margin-top: 10px;
}
.listitem .lower {
    font-size:13px;
    margin-top:4px;
}

.listitem .lower .comments {
    color: green;
}

.listitem .lower .badge {
    margin-top:2px;
}

.listitem .lower i:hover {
    background-image: url("../img/glyphicons-halflings-white.png");
}

.list {
    position: relative;
}

.spinner {
    display:none;
    position: absolute;
    z-index: 1000;
    height:     100%;
    width:      100%;
    left:0;
    top:0;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}