$def with (new_materials, top_materials)
$var title: Kurssimateriaalit 0.1 - Index
$var show_login_form: True

<div id="index-container" class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      <h1>Kurssimateriaalit 0.1<small>prototyyppi</small></h1>
      <p>Jaa muistiinpanosi, tiivistelmät, mindmapit, mitkälie. Anna mennä.</p>
    </div>

    <div class="row">
      
      <!-- NEW MATERIALS -->
      <div class="span6">
        <!-- NAVBAR -->
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <a class="brand" href="#">Uusimmat materiaalit</a>
            </div>
          </div>
        </div>
        <!-- ITEMS -->
        <table class="table table-striped table-condensed itemtable">
          <tbody>
          $for m in new_materials:
            <tr>
              <td><small>$m.title</small></td>
              <td><a href="/courses/$m.course_id">$m.code</a></td>
              <td><span class="badge badge-success">$m.points</span></td>
              <td><span class="label"><i class="icon-user"></i>$m.name</span></td>
              <td><small>$m.date_added</small></td>
            </tr>
          </tbody>
        </table>  
      </div>

      <!-- TOP MATERIALS -->
      <div class="span6">
        <!-- NAVBAR -->
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <a class="brand" href="#">Uusimmat materiaalit</a>
            </div>
          </div>
        </div>
        <!-- ITEMS -->
        <table class="table table-striped table-condensed itemtable">
          <tbody>
          $for m in top_materials:
            <tr>
              <td><small>$m.title</small></td>
              <td><a href="/courses/$m.course_id">$m.code</a></td>
              <td><span class="badge badge-success">$m.points</span></td>
              <td><span class="label"><i class="icon-user"></i>$m.name</span></td>
              <td><small>$m.date_added</small></td>
            </tr>
          </tbody>
        </table>  
      </div>

    </div> <!-- /row -->
</div>