$def with (course)
$var title: Kurssimateriaalit 0.1 - Lisää uusi materiaali
$var show_login_form: True
$# Form for adding a new material.

<div class="container">
  <div class="row">
    <div class="span8 offset2 well">

      <div class="page-header">
        <ul class="nav nav-pills">
            <li ><a href="/add">1. Valitse kurssi</a></li>
            <li class="active"><a href="#">2. Lisää materiaali</a></li>
            <li class="disabled"><a href="#">3. Valmis!</a></li>
        </ul>
      </div>

      <form class="form" enctype="multipart/form-data">
        <h2>Lisää materiaali:<br><small><span class="label">$course.code</span> $course.title</small></h2>
        <div class="alert alert-error nonvisible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <div class="error-msg"></div>
        </div>
        <label>Materiaalin nimi <small>(4-30 merkkiä)</small> *</label>
        <input type="text" name="title" placeholder="Materiaalin nimi" autofocus required pattern="^.{4,40}$$">
        <label>Kuvaus <small>(Enintään 300 merkkiä)</small></label>
        <textarea rows="3" name="description" placeholder="Lyhyt kuvaus..."></textarea>
        <label>Tagit <small>(Enintään 5, erottele välilyönneillä tai pilkuilla)</small></label>
        <input type="text" name="tags" placeholder="tagi1, tagi2, ...">
        <label id="filelabel">Tiedosto <small>(Enintään <strong>10MB</strong>)</small> *</label>
        <input type="file" name="myfile" required>
        <br>
        <br>
        <button type="submit" class="btn btn-large btn-primary">Lisää</button>
        <div class="spinner nonvisible"></div>  
      </form>
    </div> <!-- /.span8 -->
  </div> <!-- /.row -->
</div> <!-- /.container -->   
 
<script>
window.onload = function(){
  // Submit form:
  $$("form").submit(function() {
    $$(".alert").hide();
    // File is too large:
    if ($$("input[type='file']")[0].files[0].size > 10 * 1024 * 1024) {
      console.log("too big");
      $$(".error-msg").html("Tiedoston maksimikoko on 10MB.");
      $$(".alert").show();
      return false;
    }
    // Post form data:
    $$(".spinner").show();
    var formData = new FormData($$("form")[0]);
    $$.ajax({
        url: document.URL,
        type: "POST",
        data: formData,
        cache: false,
        contentType: false,
        processData: false,
        dataType: "text",
        success: function(data) {
          $$(".spinner").hide();
          if (data) { // Form is invalid
            $$(".error-msg").html(data);
            $$(".alert").show();
          } else { // Form is valid
            window.location.replace("/");
          }
        }
    });
    return false;
  });
}
</script>