$def with (material, comments)
$# Renders a single material and its comments.

<!-- INFO -->
<div class="material-info">
  <div class="upper">
    <a href="" data-id="$material.course_id" class="course-link">$material.code</a> $material.title
  </div>
  <div class="lower">
    <a href="" data-id="$material.user_id" class="user-link">$material.name</a> $format_date(material.date_added) - $material.points tykkäystä
  </div>  
  <br>
  <blockquote>
    $if material.description:
      $material.description
    $else:
      Ei kuvausta.
  </blockquote>
  $if material.tags:
    <div class="material-tags">
      tagit:
      $for tag in material.tags.split():
        <a href="" class="tag-link">$tag</a>
    </div>
</div>

<!-- BUTTONS -->
<div class="material-buttons">
  <div>
    <a href="/register" class="btn btn-like" data-id="$material.id">Tykkää <i class="icon-thumbs-up"></i></a>
    <a href="/download/$material.id" class="btn">Lataa <i class="icon-file"></i></a>
    <p class="muted"><small>.$material.type $format_size(material.size)</small></p>
  </div>
</div>

<!-- COMMENTS -->
$if comments:
  <strong>Kommentit:</strong> ($material.comments kpl)
$else:
  Ei kommentteja
<div class="material-comments">
  $for comment in comments:
    <div class="comment">
      <div class="author"><i class="icon-user"></i> <a href="" class="user-link">$comment.name</a> - $format_time(comment.date_added)</div>
      <p>$comment.content</p>
    </div>
    <hr>
</div>
<div class="comment-form">
  <form>
    <textarea rows="3" placeholder="Maksimipituus 300 merkkiä"></textarea>
    <a href="/register" class="btn btn-comment pull-right">Lisää kommentti <i class="icon-comment"></i></a>
  </form>
</div>