$var title: Kurssimateriaalit 0.1 - Rekisteröityminen
$var show_login_form: False
$# A login/register form.

<div class="container">
  <div class="row">
    
    <!-- LOGIN FORM -->
    <div class="span4 offset1">
      <form class="form form-signin login-form">
        <legend><h2 class="form-signin-heading">Kirjaudu sisään</h2></legend>
        <div class="alert alert-error nonvisible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <div class="error-msg"></div>
        </div>
        <input type="text" name="username" class="input-block-level" placeholder="Käyttäjänimi" required>
        <input type="password" name="password" class="input-block-level" placeholder="Salasana" required>
        <button class="btn btn-large btn-primary" type="submit">Kirjaudu</button>
        <div class="spinner nonvisible"></div>
      </form>
    </div>

    <!-- REGISTER FORM -->
    <div class="span5">
      <form class="form form-signin register-form" action="/register" method="POST">
        <legend><h2 class="form-signin-heading">Rekisteröidy</h2></legend>
        <div class="alert alert-error nonvisible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <div class="error-msg"></div>
        </div>
        <!-- Username -->
        <input type="text" name="username" class="input-block-level" placeholder="Käyttäjänimi" required pattern="[a-zåäöA-ZÅÄÖ0-9]{4,20}">
        <span class="help-inline">- Sallitut merkit: ä-ö, Ä-Ö, 0-9<br>- Pituus 4-20 merkkiä</span>
        <div><br><br></div>
        <!-- Password -->
        <input type="password" id="password1" name="password1" class="input-block-level" placeholder="Salasana" required pattern="(?=.*\d)(?=.*[a-zåäö])(?=.*[A-ZÅÄÖ])[0-9a-zåäöA-ZÅÄÖ!@#%]{8,80}">
        <!-- Password again -->
        <input type="password" id="password2" name="password2" class="input-block-level" placeholder="Salasana uudestaan">
        <span class="help-inline">- Väh. yksi numero (0-9) ja yksi iso kirjain (A-Ö)<br>- Pituus 8-80 merkkiä</span>
        <div><br></div>
        <!-- Submit -->
        <button class="btn btn-large btn-primary" type="submit">Rekisteröidy</button>
        <div class="spinner nonvisible"></div>
      </form>
    </div><!-- /.span5 -->
  </div> <!-- /.row -->
</div> <!-- /.container -->

<script>
window.onload = function(){
  // POST login data on login form submit:
  $$(".login-form").submit(function() {
    var form = $$(this);
    $$(this).children(".spinner").show();
    $$(this).children(".alert").hide();
    $$.post("/login",
            $$(this).serialize(),
            function(data) {
              $$(form).children(".spinner").hide();
              if (data) {
                $$(form).find(".alert .error-msg").html(data);
                $$(form).children(".alert").show();
                $$(form).children("input:first").select();
              } else {
                window.location.replace("/");
              }
            },
            "text");
    return false;
  });

  // POST registration data on register form submit:
  $$(".register-form").submit(function() {
    var form = $$(this);
    $$(this).children(".spinner").show();
    $$(this).children(".alert").hide();
    $$.post("/register",
            $$(this).serialize(),
            function(data) {
              $$(form).children(".spinner").hide();
              if (data) {
                $$(form).find(".alert .error-msg").html(data);
                $$(form).children(".alert").show();
                $$(form).children("input:first").select();
              } else {
                window.location.replace("/confirm");
              }
            },
            "text");
    return false;
  });
};
</script>
