$def with (content)

<html>
<head>
    <meta charset="UTF-8">
    <title>$content.title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css">
</head>
<body>
     <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Kurssimateriaalit 0.1</a>
          <ul class="nav">
            $if content.title.endswith("Kurssit"):
                <li class="active"><a href="/courses">Kurssit</a></li>
                <li><a href="/materials">Materiaalit</a></li>
            $elif content.title.endswith("Materiaalit"):
                <li><a href="/courses">Kurssit</a></li>
                <li class="active"><a href="/materials">Materiaalit</a></li>
            $else:
                <li><a href="/courses">Kurssit</a></li>
                <li><a href="/materials">Materiaalit</a></li>
          </ul>

          $if session.login:
              <form class="navbar-form pull-right" action="/logout" method="POST">
                <button id="logout-button" type="submit" class="btn">Log out</button>
              </form>
              <p class="navbar-text pull-right">Logged in as <a href="#profile"><b>$session.username</b></a></p>
              
          $else:
              <form class="navbar-form pull-right" action="/login" method="POST">
                <input class="span2" type="text" name="name" placeholder="Username">
                <input class="span2" type="password" name="passwd" placeholder="Password">
                <button type="submit" class="btn">Sign in</button>
              </form>  
            
        </div>
      </div>
    </div>

    $:content
    
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>
</html>