$def with (courses)
$var title: Kurssimateriaalit 0.1 - Kurssit

<div id="index-container" class="container">
  <div class="row">
    <!-- COURSES -->
    <div class="span12">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            
            <a class="brand" href="#">Kurssit</a>
            
            <form class="navbar-search pull-right">
              <input type="text" class="search-query" placeholder="Etsi kurssia">
            </form>  
          
      </div>
    </div>
  </div>
      <table class="table">
          <thead>
              <tr>
                  <th>Tunnus</th>
                  <th>Kurssi</th>
                  <th>Materiaaleja</th>
              </tr>
          </thead>
          <tbody>    
              $for c in courses:
                  <tr value=$c.id>
                      <td>$c.code</td>
                      <td>$c.title</td>
                      <td>$c.materials</td>
                  </tr>
          </tbody>
      </table>
    </div>   
</div>
<script>
$$("tr").click(function(){
    window.location = "/courses/" + $$(this).val();
});
</script>
