$def with (courses, previous_query, error)
$var title: Kurssimateriaalit 0.1 - Valitse kurssi
$var show_login_form: True

<div class="container">
  <div class="row">
    <div class="span8 offset2 well">

      <div class="page-header">
        <ul class="nav nav-pills">
            <li class="active"><a href="/add">1. Valitse kurssi</a></li>
            <li class="disabled"><a>2. Lisää materiaali</a></li>
            <li class="disabled"><a>3. Valmis!</a></li>
        </ul>
      </div>

      <form class="form-search" action="/add" method="GET">
        <h2>Hae kursseja:</h2>
        <div class="input-append">
            <input type="text" name="query" value="$previous_query" class="span3 search-query" placeholder="Hae kursseja" required autofocus>
            <button type="submit" class="btn btn-primary">
              <i class="icon-search icon-white"></i>
            </button>
        </div>
      </form>

      $if courses != False or error:
        $if courses == []:
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Ei hakutuloksia!</strong>
          </div>
  
        $if courses:
          <p>Hakutuloksia: $len(courses)</p>
          <table class="table table-hover">
          $for c in courses:
            <tr>
              <td><strong>$c.code</strong></td>
              <td>$c.title</td>
              <td><a class="btn btn-primary" href="add/$c.id">Valitse &raquo;</a></td>
            </tr>
          </table>
        <hr>
        <form class="form-inline" action="/add" method="POST">
          <h2>Eikö löytynyt? <small>Kokeile eri hakusanaa tai lisää uusi kurssi:</small></h2>
          $if error:
            <div class="alert alert-error"><strong>
              <button type="button" class="close" data-dismiss="alert">&times;</button>
            $if error == "empty_fields":
              Täytä kaikki kentät
            $elif error == "bad_code":
              Kurssikoodi ei ole sallitussa muodossa
            $elif error == "bad_title":
              Kurssin nimi ei ole sallitussa muodossa
            $elif error == "bad_faculty":
              Valitse kurssin organisaatio
            $elif error == "course_exists":
              Virhe! Antamaasi kurssikoodia vastaava kurssi on jo lisätty
            </strong>
            </div>
          <input type="text" name="code" class="input-medium" placeholder="Kurssikoodi" required pattern="^[a-zA-Z0-9]{5}\d{2}$$">
          <input type="text" name="title" class="input-large" placeholder="Kurssin nimi" required pattern="^.{1,50}$$">
          <select class="input-medium" name="faculty">
            <option value=""><small>--Organisaatio--</small></option>
            <option value="HUM">Humanistinen</option>
            <option value="IT">Informaatioteknologian</option>
            <option value="JSBE">Kauppakorkeakoulu</option>
            <option value="EDU">Kasvatustieteiden</option>
            <option value="SPORT">Liikuntatieteellinen</option>
            <option value="SCIENCE">Matemaattis-luonnontieteellinen</option>
            <option value="YTK">Yhteiskuntatieteellinen</option>
            <option value="KIELI">Kielikeskus</option>
            <option value="MUU">Muu</option>
          </select>
          <button type="submit" class="btn btn-primary">Lisää kurssi &raquo;</button>
        </form>

    </div>
  </div>
</div>

<script>
// Focus on search form:
window.onload = function(){
    $$(".search-query").select();
}
</script>