$def with (courses)
$var title: Kurssimateriaalit 0.1 - Kurssit
$var show_login_form: True

<div id="index-container" class="container">
  <!-- BREADCRUMBS -->
  <div class="page-header">
    <h1><a href="/">Etusivu</a> / Kurssit<small></small></h1>
  </div>

  <!-- NAVBAR -->
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">Title</a>
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
      <form class="navbar-search pull-left">
        <input type="text" class="search-query" placeholder="Search">
      </form>
    </div>
  </div>

  <div class="row">
    <!-- COURSES -->
    <div class="span12">
      <table class="table">
        <thead>
          <tr>
            <th>Tunnus</th>
            <th>Kurssi</th>
            <th>Materiaaleja</th>
          </tr>
        </thead>
        <tbody>    
          $for c in courses:
          <tr value=$c.id onclick="document.location='/courses/$c.id'">
            <td>$c.code</td>
            <td>$c.title</td>
            <td>$c.materials</td>
          </tr>
        </tbody>
      </table>
    </div>   
  </div>


  <!-- TOP MATERIALS -->
    <div class="span6">
      <!-- <div class="well"> -->
      <!-- NAVBAR -->
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#">Materiaalit</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pisteet <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-search pull-right">
                <input class="span2 search-query" type="text" placeholder="Hakusana">
              </form>
              
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
      <!-- ITEMS -->
      $for m in materials:
      <div class="material-listitem $loop.parity">
        <div class="upper">
          <span class="label label-info">$m.code</span>
          <a rel="tooltip" title="$m.description" href="/download/$m.id"> $m.title</a>
          <small>.$m.type</small>
        </div>

        <div class="lower">
          <!-- <i class="icon-user"></i> -->
          <a href="#">$m.name</a> <small>$format_date(m.date_added) - 
          <a href="#" class="comments">Kommentteja: 12</a></small>
          <span class="points pull-right" style="">
            <span class="badge badge-success pull-right">$m.points</span>
            <a href=""><i class="icon-plus"></i></a> 
          </span> 
        </div><!--/.lower-->        
      </div><!--/.material-listitem-->
    <!-- </div>/.well -->
  </div><!--/.span*-->
