$def with (materials, courses)
$var title: Kurssimateriaalit 0.1 - Index
$var show_login_form: True

<div class="container">

  <!-- HEADER -->
  <div class="hero-unit">
    <h1>Kurssimateriaalit 0.1<small>prototyyppi</small></h1>
    <p>Jaa muistiinpanosi, tiivistelmät, mindmapit, mitkälie. tjsp.</p>
    <br>
    <a href="/materials" class="btn btn-primary btn-large">Selaa materiaaleja &raquo;</a>
    <a href="/courses" class="btn btn-primary btn-large">Selaa kursseja &raquo;</a>
    <a href="/add" class="btn btn-primary btn-large">Lisää oma &raquo;</a>
  </div>

  
  <div class="row">
    <!-- NEW MATERIALS -->
    <div class="span4">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#">Kurssit</a>
          </div>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Tunnus</th>
            <th>Kurssi</th>
            <th>Lkm</th>
          </tr>
        </thead>
        <tbody>    
          $for c in courses:
          <tr value=$c.id onclick="document.location='/courses/$c.id'">
            <td>$c.code</td>
            <td>$c.title</td>
            <td>$c.materials</td>
          </tr>
        </tbody>
      </table>

    </div><!-- ./span* -->


    <!-- TOP MATERIALS -->
    <div class="span6">
      <!-- <div class="well"> -->
      <!-- NAVBAR -->
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#">Materiaalit</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pisteet <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-search pull-right">
                <input class="span2 search-query" type="text" placeholder="Hakusana">
              </form>
              
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
      <!-- ITEMS -->
      $for m in materials:
      <div class="material-listitem $loop.parity">
        <div class="upper">
          <span class="label label-info">$m.code</span>
          <a rel="tooltip" title="$m.description" href="/download/$m.id"> $m.title</a>
          <small>.$m.type</small>
        </div>

        <div class="lower">
          <!-- <i class="icon-user"></i> -->
          <a href="#">$m.name</a> <small>$format_date(m.date_added) - 
          <a href="#" class="comments">Kommentteja: 12</a></small>
          <span class="points pull-right" style="">
            <span class="badge badge-success pull-right">$m.points</span>
            <a href=""><i class="icon-plus"></i></a> 
          </span> 
        </div><!--/.lower-->        
      </div><!--/.material-listitem-->
    <!-- </div>/.well -->
  </div><!--/.span*-->
  </div><!--/.row-->
</div><!--/.container-->

<script> 
window.onload = function(){
    // Enable tooltips on course names:
    $$("span[rel='tooltip']").tooltip();
    // Show plus-signs next to points displays when hovering:
    $$(".lower span a").css("visibility", "hidden");
    $$(".material-listitem").hover(function(){
        $$(this).find(".points>a").css("visibility", "visible");
    }, function() {
        $$(this).find(".points>a").css("visibility", "hidden");
    });
    // Perform Ajax operation when liking a material:
    $$(".lower span a").click(function () {
        var id = $$(this).attr("data-id"),
            clicked = this,
            points_display = $$(clicked).siblings(":first");
        $$.ajax({
            type: "GET",
            url: "/like",
            data: {id: id},
            success: function(data) {
                if (data=="") {
                    var points = parseInt($$(points_display).text()) + 1;
                    $$(points_display).text(points);
                } else {
                    $$(points_display).removeClass("badge-success").addClass("badge-important");
                    $$(clicked).remove();
                }
            },
            dataType: "text"
        });
    return false;
    });
}
</script>