$def with (id, code, course_title, error, material_title, description, tags)
$var title: Kurssimateriaalit 0.1 - Lisää uusi materiaali
$var show_login_form: True

<div class="container">
  <div class="row">
    <div class="span8 offset2 well">

      <div class="page-header">
        <ul class="nav nav-pills">
            <li ><a href="/add">1. Valitse kurssi</a></li>
            <li class="active"><a href="#">2. Lisää materiaali</a></li>
            <li class="disabled"><a href="#">3. Valmis!</a></li>
        </ul>
      </div>

      <form class="form" enctype="multipart/form-data" action="" method="POST">
          <h2>Lisää materiaali:<br><small><span class="label">$code</span> $course_title</small></h2>
          $if error:
            <div class="alert alert-error">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              $if error == "bad_title":
                <strong>Virhe!</strong> Materiaalin nimi ei ole sallitussa muodossa.
              $elif error == "bad_filetype":
                <strong>Virhe!</strong> Tiedostotyyppi ei ole sallittu.
              $elif error == "bad_zip":
                <strong>Virhe!</strong> Zip-tiedosto sisältää ei-sallittuja tiedostoja.
            </div>
          <label>Materiaalin nimi (4-30 merkkiä) *</label>
          <input type="text" name="title" value="$material_title" placeholder="Materiaalin nimi" required pattern="^.{4,40}$$">
          
          <label>Kuvaus (Enintään 100 merkkiä)</label>
          <textarea rows="3" name="description" placeholder="Lyhyt kuvaus...">$description</textarea>
          
          <label>Tagit (Enintään 5, erottele välilyönneillä tai pilkuilla)</label>
          <input type="text" name="tags" value="$tags" placeholder="tagi1, tagi2, ...">
          
          <label id="filelabel">Tiedoston maksimikoko <strong>10MB</strong>, sallitut tiedostomuodot jpeg,gif,png,html,txt,org,ppt,pdf</label>
          <input type="file" name="myfile" required>

          <br>
          <br>
          <button type="submit" class="btn btn-large btn-primary">Lisää</button>
        
      </form>

    </div> <!-- span8 offset2 -->
  </div> <!-- row -->
</div> <!-- container -->   
 
<script>
window.onload = function(){
    // On load, focus on either title or file input:
    $if error in ["bad_filesize", "bad_filetype", "bad_zip"]:
        $$("input[name='myfile']").focus();
    $else:
        $$("input[name='title']").select();

    $$("input[type='file']").bind("change", function() {
        $$(".alert").remove();
        if (this.files[0].size > 10 * 1024 * 1024) {
            $$("button").attr("disabled", true);
            $$("label#filelabel").addClass("text-error");
        } else {
            $$("button").attr("disabled", false);
            $$("label#filelabel").removeClass("text-error");
        }
    });
  }
</script>